<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
    window.images = {
      treasureMapLogo: "<%= image_path("treasure_map_logo.png") %>",
      homeBackground: "<%= image_path("light_paper_fibers.jpg") %>"
    }
</script>

<main id='root'>This should not show</main>
