// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session {
  height: 100vh;
}

.session-title {
  font-size: 30px;
  font-family: 'Arimo', sans-serif;
  margin: 0;
}

.session-form {
  margin: 0 auto;
  width: 370px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 500;
  margin-top: 100px;
}

.session-form .altText {
  letter-spacing: 0.0625em
}

.session-label {
  letter-spacing: 0.08em;
}

.session-form .session-button {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  font-size: 15px;
  color: white;
  background-color: #d36a55;
  height: 50px;
  width: 377px;
  margin-bottom: 10px;
}

.altText .link{
  margin: 5px;
}

label, input {
  display: block;
}

.form-body input {
  width: 370px;
  height: 40px;
}

.form-body .session-label{
  margin-bottom: 10px;
  margin-top: 10px;
}

.demo-button {
  padding: 5px 10px;
  // background-color: #1b614f;
  // background-color: #8fcdc1;
  background-color: #0f9a76;
  color: #ffffff;
}
