// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session {
  height: 100vh;
}

.session-title {
  font-size: 30px;
  font-family: 'Arimo', sans-serif;
  margin: 0;
}

.session-form {
  margin: 0 auto;
  width: 345px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 500;
  margin-top: 100px;
}

.session-form .altText {
  letter-spacing: 0.0625em
}

.session-form .session-label {
  letter-spacing: 0.0625em
}

.session-form .session-button {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 500;
  letter-spacing: 0.0625em
}

.altText .link{
  margin: 5px;
}
