// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-title {
  font-size: 30px;
  font-family: 'Arimo', sans-serif;
  margin: 0;
  // font-weight: 600;
}

.session-form {
  margin: auto;
  width: 470px;
}

ul {
  list-style: none;
  display: flex;
  margin-top: 0;
}

.session-form li {
  // margin: 0;
}
