.atlas-holder{
  text-align: center;
}

.tag-line{
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.0625em;
  font-size: 18px;
  margin-top: 23px;
  font-weight: 500;
}

#map-dropdown-discover{
  opacity: 0.45;
}

#map-dropdown-discover-holder{
  // border-bottom: 4px solid transparent;
  // border-bottom: 2px solid gray;
  // opacity: 0.3;
  padding-bottom: 2px;
}

.the-atlas{
  width: 100%;
  position: relative;
}
//
// .the-atlas:hover > section.map-dropdown-holder{
//   display: block;
// }

.the-atlas:hover {
  // text-decoration: underline;
  // text-decoration-color: #e7eeea;
  // border-bottom: 5px solid red;
  // #e7eeea;
  cursor: pointer;

  #map-dropdown-discover-holder{
    border-bottom: 4px solid #1b624f;
  }
}


.map-dropdown-holder{
  display: none;
  width: 500%;
  height: 275px;
  background: #e5ebe7;
  position: absolute;
  z-index: 2;
  left: -192px;
  top: 70px;
}

// .map-dropdown-holder a > .map-dropdown-holder{
//   display: none;
// }

.the-atlas:hover > .map-dropdown-holder{
  display: block;
}

.top-destinations{
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #1b624f;
  padding-top: 30px;
  padding-left: 200px;
  // width: 100%;
  letter-spacing: -.02em;
  margin-bottom: 15px;
}

.map-lists-holder{
  display: flex;
  margin-bottom: 100px;
}

.map-label-text{
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #1b624f;
  text-transform: uppercase;
  letter-spacing: .07em;
}

.map-label-divider{
  border: 0.5px solid #1b624f;
}

.country-list-holder{
  display: flex;
}

.city-list-holder{
  display: flex;
}

.country-holder{
  padding-left: 200px;
}

.city-holder{
  padding-left: 75px;
}

.country-list-one{
  padding-right: 75px;
}

.city-list-one{
  padding-right: 75px;
}

.city-list-two{
  padding-right: 75px;
}

.map-dropdown-holder a {
  font-family: 'Arimo', sans-serif;
  text-decoration: none;
  font-size: 15px;
  color: #382d14;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.06em;
}

.map-dropdown-holder li{
  padding: 6px 0;
}

.map-dropdown-holder a:hover{
  text-decoration: underline;
}
