.right-nav-search{
  // background-color: red;
}

.search-modal-background{
  height: 150%;
  width: 100%;
  background-color: none;
  margin-top: 70px;
  position: absolute;
  z-index: 10;
  left: 0px;
  top: -100px;

}

.search-modal-child{
  height: 300px;
  width: 100%;
  background-color: #faf8f4;
  position: absolute;
  z-index: 11;
  top: 102px;
}

#search-icon{
  font-weight: 600;
  padding-left: 25px;
  padding-top: 19px;
  font-size: 27px;
  color: #d4d4d0;
}

.search-input{
  display: block;
  margin-top: 30px;
  margin-left: 30px;
  width: 96%;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  font-size: 20px;
}

.search-index-item{
  margin-left: 30px;
  margin-top: 13px;
  text-decoration: none;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 15px;
  color: #1b624f;
  line-height: 1em;
  letter-spacing: .12em;
  text-transform: uppercase;
}

.default-search-link{
  text-decoration: none;
}

.search-index-items-holder{
  display: flex;
  flex-direction: column;
}
