// SessionDropdownContainer
#user-icon {
  padding-top: 23px;
  padding-bottom: 50px;
  font-size: 1.5em;
  margin: auto;
}

#user-icon:hover {
  color: #d36a55;
}

.user-icon {
  max-width: 60px;
  max-height: 70px;
  margin: auto;
}

.dropdown-div {
  position: relative;
  display: flex;
  flex-direction: column;
}

ul.dropdown-ul {
  display: none;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  text-align: left;
  top: 71px;
  left: -80px;
  // right: 30px;
  width: 160px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 0;
  border-bottom: 1px solid #d4d4d0;
  border-left: 1px solid #d4d4d0;
  border-right: 1px solid #d4d4d0;
  // may need to change these dimensions when we get user image to work
}

.dropdown-div:hover > ul.dropdown-ul{
  display: block;
}

.dropdown-div:hover {
  border-bottom: 1px solid white;
}

ul.dropdown-ul li {
  padding: 15px;
}

ul.dropdown-ul li a {
  text-decoration: none;
  color: #5d4a84;
}

ul.dropdown-ul li {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.0625em;
  font-size: 15px;
}

ul.dropdown-ul li p:first-child {
  margin-bottom: 5px;
}

#dropdown-divider{
  border-top: 1px solid #d4d4d0;
  width: 80%;
  height: 1px;
  margin: auto;
  padding: 0;
}

.dropdown-username{
  font-weight: 500;
  font-size: 18px;
}

div.dropdown-div, div.right-nav-search {
  width: 80px;
  box-sizing: border-box;
}

.session-dropdown-button {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.0625em;
  font-size: 15px;
  border: none;
}

.session-dropdown-button:hover, .dropdown-enter-link:hover {
  color: #ccb48c;
}
