.article-head{
  margin: auto;
  width: 70%;
  margin-bottom: 50px;
}

#city-name{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 15px;
  color: #1b624f;
  line-height: 1em;
  letter-spacing: .12em;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-top: 50px;
}

#article-name{
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: #382d14;
  width: 65%;
  line-height: 1.0em;
  letter-spacing: -.02em;
}

#article-desc{
  margin-top: 14px;
  margin-bottom: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 26px;
  line-height: 28px;
  letter-spacing: .01em;
  color: #382c14;
  letter-spacing: -.01em;
  width: 65%;
  line-height: 1.15em;
}

#pencil-icon {
  margin-right: 7px;
  font-size: 12px;
}

.article-buttons {
  display: flex;
}

.edit-button{
  color: #cdb48d;
  border: 0.5px solid #e7e7e7;
  border-radius: 3px;
  padding: 6px 27px;
  font-family: 'Archivo Narrow', sans-serif;
}

.edit-button a {
  text-decoration: none;
  color: #cdb48d;
  font-size: 13px;
  letter-spacing: .07em;
}

.edit-button:hover {
  border: 0.5px solid #cdb48d;
}

.article-delete-button{
  border: 0.5px solid #e7e7e7;
  color: red;
  border-radius: 3px;
  padding: 8px 20px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 13px;
  letter-spacing: .07em;
  background-color: Transparent;
  margin-left: 20px;
}

.article-delete-button:hover {
  border: 0.5px solid red;
}

#trash-icon {
  margin-right: 6px;
}

.article-photos{
  display: flex;
}

.article-image{
  max-height: 400px;
  max-width: 750px;
  margin: 0 3px;
}

.article-main{
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 40px;
}

.article-body-holder{
  width: 70%;
  margin-right: 75px;
}

.article-google-map{
  border: 1px solid red;
  height: 300px;
  width: 30%;
}

.long-description{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 22px;
  line-height: 28px;
}

.article-body{
  margin: 20px 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 28px;
}

.article-body:last-of-type{
  margin-bottom: 55px;
}

.article-editor-image{
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 1px solid #e7e7e7;
  margin-left: -10px;
  position: relative; //added this for z-index
}

.article-author-image{
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 1px solid #e7e7e7;
}

.contributor-display-text{
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 500;
  letter-spacing: .12em;
  margin-bottom: 17px;
}

.article-contributors{
  display: flex;
  margin-bottom: 100px;
}

.article-author{
  border-left: 3px solid rgba(204,180,141,.3);
  padding-left: 22px;
}

.author-elements{
  display: flex;
}

.editor-elements{
  display: flex;
  position: relative; //added this for z-index
}

.article-editors{
  margin-left: 100px;
}

.article-author-name{
  margin-left: 9px;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: .12em;
  font-size: 18px;
  padding-top: 15px;
}

.article-editor-name{
  // display: block;
  display: none;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 15px;
  letter-spacing: .12em;
  margin: auto;
  text-align: center;
}

.article-editor-info:hover > .article-editor-name{
  display: block;
}

.article-editor-info{
  // background: white;
}
