.city-show-article-thumbs {
  display: flex;
  width: 70%;
  height: 60%;
  background-color: none;
  margin: auto;
  margin-top: 65px;
  flex-wrap: wrap;
}

.city-show-header{
  padding-top: 10px;
  display: block;
  margin: auto;
  text-align: center;
  height: 270px;
  position: relative;
}

.city-show-holder{
  // border-bottom: 1px solid #e7e7e7;
  // border-top: 1px solid #e7e7e7;
  // margin: 10px 0;
  width: 100%;
  height: 100%;
  background: image-url('topography.png');
  background-color: #cdb48d;
  background-size: 425px;
  opacity: .05;
  z-index: -1;
  position: absolute;
}

.city-show-holder-wrapper{
  margin: 10px 0;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  padding-bottom: 9px;
  // position: relative;
}

.city-show-text{
  padding-top: 65px;
  // position: absolute;
  // z-index: 1;
  // left: 35%;
  // top: 34%;
}

.city-show-intro{
  text-transform: uppercase;
  color: #382d14;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 19px;
  letter-spacing: .09em;
  // margin-top: 50px;
}

.city-show-main-title{
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #382d14;
  padding-top: 4px;
  width: 100%;
  letter-spacing: -.02em;
}

.city-show-country-link{
  text-decoration: none;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 16px;
  color: #382d14;
  text-transform: uppercase;
  letter-spacing: .09em;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #cdb48d;
  // padding-bottom: 3px;
}

.city-show-country-link:hover {


}

.city-show-tag{
  color: #382d14;
  font-family: 'Cormorant Garamond', serif;
  font-size: 23px;
}







//footer

.city-show-footer{
  padding-top: 10px;
  display: block;
  // margin: auto;
  // text-align: center;
  height: 800px;
  position: relative;
}

.city-show-footer{
  // font-family: 'Arimo', sans-serif;
  // font-weight: 700;
  // font-size: 40px;
  // color: #382d14;
  // width: 100%;
  // letter-spacing: -.02em;
  // text-align: center;
  // margin-bottom: 20px;
}

.city-show-map-wrapper{
  // // margin: 10px 0;
  // margin-top: 20px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  // text-align: center;
  // // position: absolute  ;
}

.city-show-google-map{
  border: 1px solid #e7e7e7;
  height: 100%;
  width: 100%;
  // padding: 20px;
  background: image-url('topography.png');
  background-color: #cdb48d;
  background-size: 425px;
  // margin-top: 20px;
  opacity: .05;
  // z-index: -1;
  // position: relative;
}

.city-show-map-text{
  position: absolute;
  z-index: 1;
  top: 10%;
  width: 100%;
  text-align: center;
}

.city-show-footer-holder{
  margin-bottom: 60px;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #382d14;
  letter-spacing: -.02em;
}

.city-show-google-maps-container{
  height: 450px;
  width: 50%;
  margin: auto;
  border: 1px solid  #e7e7e7;
}
