.feature-article-holder{
  width: 80%;
  margin: auto;
}

.feature-article-headline-holder{
  margin-top: 50px;
  border-bottom: 1px solid #d4d4d0;
  padding-top: 4px;
}

.feature-article-header{
  // font-family: 'Arimo', sans-serif;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: 17px;
  color: #382d14;
  width: 100%;
  text-transform: uppercase;
  padding-bottom: 5px;
  // text-decoration-color: #d4d4d0;
}

.main-feature-feature-article-thumb a {
  text-decoration: none;
}

.bottom-thumb-feature-article-thumb a {
  text-decoration: none;
}

.side-title-feature-article-thumb a {
  text-decoration: none;
}

.main-feature{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.main-feature .feature-thumb-holder{
  padding-right: 25px;
  width: 350px;
}


.main-feature .feature-city{
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.04em;
  font-size: 25px;
  color: #1b624f;
  margin-bottom: 5px;
}

.main-feature .feature-article-name{
  font-family: 'Arimo', sans-serif;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: #382d14;
  font-size: 50px;
  margin-bottom: 15px;
}

.main-feature:hover .feature-article-name{
  text-decoration: underline;
  text-decoration-color: gray;
}

.main-feature .feature-article-desc{
  font-family: 'Cormorant Garamond', serif;
  font-size: 26px;
  color: #382d14;
  margin-bottom: 15px;
}

.main-feature .feature-author-name{
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  color: #382d14;
  font-style: italic;
}

.main-feature .feature-image-holder{
  // width: 765px;
  width: 66.66%;
  height: 490px;
}

.main-feature .feature-image{
  // width: 750px;
  // max-height: 490px;
  // min-height: 400px;
  height: 100%;
  width: 100%;
}

.main-feature .other-feature-image{
  display: none;
}

.feature-bottom-row{
  display: flex;
}

.bottom-thumb .feature-author-name{
  display: none;
}

.bottom-thumb .feature-image{
  display: none;
}

// .feature-article-thumb
.bottom-thumb-feature-article-thumb{
  box-sizing: border-box;
  // max-height: 420px;
  // max-width: 365px;
  width: 33.33%;
  padding-right: 20px;
}

.bottom-thumb .other-feature-image{
  height: 250px;
  // max-width: 365px;
  width: 100%;
}

.bottom-thumb .feature-thumb-holder{
  position: relative;
  border-left: 1px solid #d4d4d0;
  border-right: 1px solid #d4d4d0;
  border-bottom: 1px solid #d4d4d0;
  min-height: 215px;
  // width: 100%;
  // height: 100%;
  // background: image-url('topography.png');
  // background-color: #cdb48d;
  // background-size: 425px;
  // opacity: .05;
  // z-index: -1;
  // position: absolute;
}

.bottom-thumb .feature-city-holder{
  position: absolute;
  width: 100%;
  top: -20px;
}

.bottom-thumb .feature-city{
  background: #1b624f;
  color: white;
  padding: 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.1em;
  font-size: 14px;
  width: 40%;
  // margin-bottom: 5px;
  margin: auto;
  text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  // right: 0;
  // top: -60px;
  // left: 40%;
}

.bottom-thumb .feature-article-name{
  font-family: 'Arimo', sans-serif;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: #382d14;
  font-size: 26px;
  text-align: center;
  padding: 30px 20px 12px 10px;
}

.bottom-thumb .feature-article-desc{
  font-family: 'Cormorant Garamond', serif;
  font-size: 21px;
  color: #382d14;
  text-align: center;
  padding: 0 10px 0 10px;
}

.side-title-holder{
  // max-width: 365px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-title .feature-author-name {
  display: none;
}

.side-title .feature-image {
  display: none;
}

.side-title .other-feature-image{
  display: none;
}

.side-title .feature-city{
  display: none;
}

.side-title .feature-article-name{
  font-family: 'Arimo', sans-serif;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: #382d14;
  font-size: 26px;
  padding-bottom: 3px;
}

.side-title .feature-article-desc{
  font-family: 'Cormorant Garamond', serif;
  color: #382d14;
  font-size: 21px;
  padding-bottom: 5px;
}


//
// .feature-article-image{
//   border-radius: 3px;
//   max-height: 1000px;
//   max-width: 1000px;
// }
//
// .feature-article-content{
// }
//
// .feature-article-link{
//   text-decoration: none;
// }
//
// .feature-article-city{
//   text-transform: uppercase;
//   font-family: 'Archivo Narrow', sans-serif;
//   font-size: 19px;
//   color: #1b624f;
//   letter-spacing: .09em;
//   margin: 15px 0;
// }
//
// .feature-article-title{
//   font-family: 'Arimo', sans-serif;
//   font-weight: 700;
//   font-size: 45px;
//   color: #382d14;
// }
//
// .feature-article-description{
//   font-family: 'Cormorant Garamond', serif;
//   font-size: 26px;
//   line-height: 28px;
//   letter-spacing: .01em;
//   color: #382c14;
//   letter-spacing: -.01em;
//   width: 65%;
//   line-height: 1.15em;
// }
