.nav {
  display: block;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e7e7e7;
}

.logo {
  display: block;
  background-color: red;
  height: 70px;
  width: 240px;
}

.right-nav ul {
  display: flex;
}

.right-nav li {
  padding: 0 20px;
  list-style: none;
  border-left: 1px solid #e7e7e7;
  height: 70px;
}

.right-nav ul {
  margin: 0;
}

// SessionDropdownContainer
#user-icon, .user-icon {
  padding-top: 23px;
  padding-bottom: 23px;
  font-size: 1.5em;
}

.dropdown-div {
  position: relative;
  display: flex;
  flex-direction: column;
}


.dropdown-ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 30px;
}
