.nav {
  display: block;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d4d4d0;
  // #e7e7e7;
}

.logo {
  display: block;
  height: 70px;
  width: 240px;
}

.right-nav ul {
  display: flex;
}

.right-nav-search, .dropdown-div {
  list-style: none;
  border-left: 1px solid #d4d4d0;
  // #e7e7e7;
  height: 70px;
}

.right-nav ul {
  margin: 0;
}

// SessionDropdownContainer
#user-icon {
  padding-top: 23px;
  padding-bottom: 50px;
  font-size: 1.5em;
  margin: auto;
}

#user-icon:hover {
  color: #d36a55;
}

.user-icon {
  max-width: 60px;
  max-height: 70px;
  margin: auto;
}

.dropdown-div {
  position: relative;
  display: flex;
  flex-direction: column;
}

ul.dropdown-ul {
  display: none;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 80px;
  // right: 30px;
  width: 80px;
  box-sizing: border-box;
  // may need to change these dimensions when we get user image to work
}

.dropdown-div:hover > ul.dropdown-ul{
  display: block;
}

ul.dropdown-ul li {
  padding: 15px 0;
}

ul.dropdown-ul li a {
  text-decoration: none;
  color: #5d4a84;
}

ul.dropdown-ul li {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.0625em;
  font-size: 15px;
}

ul.dropdown-ul li p:first-child {
  margin-bottom: 2px;
}


div.dropdown-div, div.right-nav-search {
  width: 80px;
  box-sizing: border-box;
}

.session-dropdown-button {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.0625em;
  font-size: 15px;
  border: none;
}

.session-dropdown-button:hover, .dropdown-enter-link:hover {
  color: #ccb48c;
}
